<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>jsp_servlet_jsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ForwardTest</display-name>
    <servlet-name>ForwardTest</servlet-name>
    <servlet-class>com.atguigu.jsp.ForwardTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardTest</servlet-name>
    <url-pattern>/forwardTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardPage</display-name>
    <servlet-name>ForwardPage</servlet-name>
    <servlet-class>com.atguigu.jsp.ForwardPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardPage</servlet-name>
    <url-pattern>/forwardPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectTest</display-name>
    <servlet-name>RedirectTest</servlet-name>
    <servlet-class>com.atguigu.jsp.RedirectTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectTest</servlet-name>
    <url-pattern>/redirectTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectPage</display-name>
    <servlet-name>RedirectPage</servlet-name>
    <servlet-class>com.atguigu.jsp.RedirectPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectPage</servlet-name>
    <url-pattern>/redirectPage</url-pattern>
  </servlet-mapping>
</web-app>